
*:not(button, input, textarea, hr){
    background-color: rgb(200,255,230);
    border:0px solid rgb(0,100,0);
}

button{
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(0,100,0);
    background-image:linear-gradient(to bottom, rgb(190, 255, 190), rgb(130, 255, 130));
    user-select: none;
}

button:hover{
    background-image:linear-gradient(to bottom, rgb(190, 255, 190), rgb(170, 255, 170));
}

button:active{
    background-image:linear-gradient(to top, rgb(190, 255, 190), rgb(130, 255, 130));
}

button[disabled]{
    border-color:rgb(100,100,100);
    background-image:linear-gradient(rgb(200,200,200), rgb(200,200,200));
}

#version{
    position:fixed;
    bottom:0px;
    left:0px;
    opacity:0.5;
}

#version::after{
    padding-left:1em;
    content:"style: 2.3"
}

html{
    margin:0px;
    padding:0px;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
    overflow-y:scroll;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior-x: none;
}

#header{
    padding: 5px;
    min-height: 7em;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    max-width:50em;
    box-sizing: border-box;
}

#header > *{
    margin:0px 2em 0px 2em;
}

#tabs-spacer{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom-width:1px;
    border-top-width:1px;
    width:100%;
    position: sticky;
    box-sizing: content-box;
    top:-1px;
    z-index: 2;
}

.tab-list{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:5px;
    max-width:50em;
    white-space: nowrap;
    width:100%;
    user-select: none;
}

#name{
    font-size: 1.1em;
    font-weight: bold;
}

.tab{
    border-width:1px;
    margin:5px;
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex:1;
    max-width:8em;
    cursor:pointer;
    position: relative;
}

.tab::before, .tab::after{
    position:absolute;
    top:0px;
    font-size: small;
    opacity:0.5;
}

.tab::before{
    left:2px;
    content:attr(items-present);
}

.tab::after{
    right:2px;
    content:"("attr(items-selected)")";
}

.tab.selected{
    background-color:rgb(100, 200, 253);
    cursor:context-menu;
    font-weight: bold;
}

.tab[aria-disabled="true"]{
    opacity:0.6;
    background-color:rgb(100,100,100);
    cursor:context-menu;
}

.tab[aria-disabled="true"]::before, .tab[aria-disabled="true"]::after{
    content:"";
}

.ordering[aria-disabled="true"] button{
    display:none;
}

#list{
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    margin:0px;
    margin-bottom:3em;
    padding:0px;
    max-width:50em;
    width:calc(100% - 2px);
}

.favourites-mode #list{
    margin-bottom: 6em;
}

.star{
    position:absolute;
    left:-3px;
    top:-3px;
    display:none;
}

li.favourite .star{
    display:block;
}

li{
    border-width:1px;
    /* padding:3px; */
    min-height:2em;
    margin:-1px -1px 0px -1px;
    /* position:relative; */
    flex:1;
    /* background-color:rgb(255,255,255); */
    transition:background-color 300ms ease;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* transition: box-shadow 300ms, transform 300ms, height 300ms, min-height 300ms, padding 300ms, margin 300ms; */
    transition: box-shadow 100ms, transform 100ms;
}

@media (max-width: 50em){
    li{
        border-right-width:0px;
        border-left-width:0px;
    }
}

@media (pointer: fine){
    li:hover{
        transform:scale(1.01);
        box-shadow:0px 0px 10px 3px rgba(0,0,0,0.2);
    }

    li:active{
        background-color:rgba(0,0,0,0.2);
    }
    
    .tab:not(.selected):not([aria-disabled="true"]):hover{
        background-color:rgb(164, 241, 255);
    }

    .tab:not(.selected):not([aria-disabled="true"]):active{
        background-color:rgb(67, 163, 201);
    }

}

li.hidden{
    /* Fancy hide animation */
    /* transform:rotateX(90deg);
    height:0px;
    min-height:0px;
    padding:0px;
    margin:0px;
    max-height:0px;
    border:none; */
    display:none;
}

li *{
    background-color:rgba(0,0,0,0);
}

/* li:not(li[style*="display:none;"]):nth-child(even){
    background-color:rgb(240,240,240);
} */

.favourites-mode #list li{
    border-color:rgb(95, 100, 0);
}

li.selected{
    background-color:rgb(126, 196, 132);
}

.favourites-mode #list li.favourite{
    background-color:rgb(247, 240, 141);
}

label{
    display:flex;
    align-items:center;
    overflow-wrap:anywhere;
    min-height:inherit;
    flex:1;
    padding:3px;
    position: relative;
}

.favourites-mode #list label{
    padding-left:1em;
}

.favourites-mode #list input[type=checkbox], .favourites-mode #list .order-info{
    display:none;
}

.order-info, #preview-info .price{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor:pointer;
    padding-right: 5px;
}

.quantity{
    padding:0px 4px 0px 4px;
    border-width:1px;
    border-radius: 3px;
    background-color: rgb(171, 234, 236);
}

.quantity-info{
    display:inline-flex;
    width:7em;
    flex-direction:row;
    justify-content: space-between;
}

.quantity.selected{
    background-color: rgb(255, 253, 163);
}

.money-sign{
    font-weight: 400;
    /* font-family:Arial, Helvetica, sans-serif; */
}

/* li.selected:not(li[style*="display:none;"]):nth-child(even){
    background-color:rgb(170,170,170);
} */

li:not(.selected) > .order-info > .quantity-info{
    display:none;
}

li.selected > .order-info > .price{
    opacity:0.6;
}

/* li > *{
    border:1px solid rgba(255,0,0,0.5);
}

li > * > *{
    border:1px solid rgba(0,255,0,0.5);
}

li > * > * > *{
    border:1px solid rgba(0,0,255,0.5);
} */

@media(min-width: 30em){
    .double-line{display:none}
}

#numpad{
    position:fixed;
    border-radius:5px;
    border-width:1px;
    top:100vh;
    opacity: 0;
    transition:top 400ms, opacity 400ms;
    user-select: none;
    z-index:4;
    padding:2px;
}

#numpad.shown{
    top:max(0px, min(calc(100% - 11em - 6px), max(3.5em, min(calc(100% - 13em), 50%))));
    opacity:1;
}

.numpad-row{
    display:flex;
    flex-direction:row;
    background-color:rgba(0,0,0,0);
}

.numpad-row > *{
    font-size:2em;
    flex:1;
    width:2em;
    height:2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width:1px;
    margin:2px;
    border-radius: 5px;
    cursor:pointer;
    box-sizing: border-box;
    background-color: white;
}

.numpad-row > *.ifcancel{
    border-width: 3px;
}

.numpad-row > *.ifok{
    background-color:rgb(176, 255, 176);
}

.numpad-button{
    font-size: 1.5em;
    height:1.5em;
    color:white;
}

.badbutton{
    background-image: linear-gradient(to bottom, rgb(255,130,130), rgb(255,70,70));
    border-color:rgb(100,0,0);
}

.badbutton:hover{
    background-image: linear-gradient(to bottom, rgb(255,130,130), rgb(255,100,100));
}

.badbutton:active{
    background-image: linear-gradient(to top, rgb(255,130,130), rgb(255,70,70));
}

.goodbutton{
    background-image: linear-gradient(to bottom, rgb(190,255,190), rgb(70,255,70));
}

.goodbutton:hover{
    background-image: linear-gradient(to bottom, rgb(190,255,190), rgb(100,255,100));
}

.goodbutton:active{
    background-image: linear-gradient(to top, rgb(190,255,190), rgb(70,255,70));
}

#numpad-ok:disabled{
    background-image:linear-gradient(grey, grey);
    cursor:default;
}

#preview-info{
    display:none;
    min-height:15em;
    flex-direction: column;
    align-items: center;
    position:relative;
    width:100%;
    max-width:50em;
}

#preview-info.shown{
    display:flex;
}

#preview-info .price{
    position:absolute;
    top:calc(-3em + 5px);
    right:0px;
}

#order-menu-buttons{
    width:100%;
    max-width:20em;
    display:flex;
    justify-content: space-evenly;
    margin:3em;
}

#special-instructions{
    max-width:50em;
    width:90vw;
    height:10em;
    margin-top:1em;
}

#loading{
    width:50vmin;
    height:50vmin;
    top:calc(50vh - 25vmin);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,0);
    user-select: none;
    z-index:3;
    opacity:0.5;
    position: fixed;
}

#loading *{
    background-color: inherit;
}

#loading-graphic{
    width:50vmin;
    height:50vmin;
    border-radius: 100%;
    border-top: 1em solid black;
    border-bottom: 1em solid black;
    animation:spin 1s linear 0s infinite;
    position:absolute;
}

@keyframes spin{
    0%{transform:rotate(0deg)}
    100%{transform: rotate(360deg)}
}

.dialog{
    display:flex;
    position:fixed;
    z-index:10;
    background-color: rgba(0,0,0,0.5);
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
}

.dialog > *{
    border-radius:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    max-width:50em;
    width:calc(100vw - 10em);
    padding:3em;
    top:-3em;
}

.dialog *:not(button){
    background-color:white;
}

#alert-dismiss{
    right:-1.5em;
    width:6em;
    border:1px solid grey;
}

.dialog button{
    position:absolute;
    top:calc(100% + 1em);
    cursor:pointer;
    padding:1em;
    border-radius:inherit;
}

#confirm button{
    width:6em;
}

#confirm-yes{
    left:calc(50% + 1em);
}

#confirm-no{
    right:calc(50% + 1em);
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:30em;
    width:inherit;
}

#favourites-menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100vw;
    border-width:1px;
    position:fixed;
    bottom:-1px;
}

body:not(.favourites-mode) #favourites-menu, body:not(.logged-in) #menu, .favourites-mode #menu, body.logged-in #version, body:not(.logged-in) #name,body:not(.logged-in) #tabs-spacer, body:not(.logged-in) #favourites-button, body.logged-in #login-form, .hidden{
    display:none !important;
}

#orders-background{
    z-index:2;
}

#orders-list{
    background-color:white;
    border:5px solid black;
    border-radius:10px;
    position:fixed;
    top:0.5em;
    box-sizing: border-box;
    width:calc(100% - 1em);
    height:calc(100% - 1em);
    z-index:2;
    padding: 0px;
}

#close-orders-list{
    top:5px;
    right:5px;
    font-weight: bold;
    padding:0px;
    width:3em;
    height:3em;
    border-width:2px;
    color:white;
    position: absolute;
}

#orders-list-content{
    overflow-y:scroll;
    overscroll-behavior: contain;
    justify-content: flex-start;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0);
    padding:1em;
    box-sizing: border-box;
}